<br>
<h1>How to play:</h1>
<p>Each player chooses between rock, paper and scissors</p>
<br>
<p>Rock beats Scissors</p>
<br>
<p>Scissors beats Paper</p>
<br>
<p>Paper beats Rock</p>
<br>
<h2>Play until the end of time</h2>
